/*
Color-lab: #f7b617
Color gris (footer): #2b2b2b 
*/
*{
	margin:0;
	padding: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

/*estilos HEADER*/
.espacios{ /*para centrar logo en MOVIL y quitar linea hamburguesa*/
	margin-left: 20px;
	margin-right: 70px;
	border:none;
}

header .navbar{
	margin-bottom: 0;
}

nav{
	padding:20px 0;
}

.logo {
	margin-top:-10px;
	margin-bottom: 10px;
}

.logo img{
	width: 95%;
}

/*estilos HERO*/
#hero{
	background-image: url(../img/taxi.jpg);
	background-size: cover;
	background-position: bottom;
	border-bottom:none;
	height: 700px;
}

.caja-amarilla{
	background-color: #f7b617;
	color:white;
	width: 100%;
	margin-top:150px;
	padding:20px 20px 30px 40px;
}

.viaja{
	padding: 20px 0 0 0;
	font-size: 18px;
}

.viaja img{
	width: 20%;
	padding-left: 10px;
}

.registro{
	font-size: 12px;
	text-transform: uppercase;
}

.caja-amarilla input{
	width: 140px;
	background-color: transparent;
	border:none;
	border-bottom: solid thin white;
}

.caja-amarilla button{
	display: block;
	background-color: whitesmoke;
	margin-top: 30px;
	border:none;
	border-radius: 5px;
	color:black;
	font-weight: bold;
	padding: 7px;
}

.caja-amarilla h1{
	font-size: 30px;
	font-weight: 300;
}

.caja-amarilla span{
	padding: 0 50px;
}

/*estilos INFORMACION*/
#informacion{
	background-color:#f7b617;
	padding:30px 0;
	color:white;
}

.linea-blanca{
	border: solid thin white;
	padding: 30px;
}

#informacion .linea-blanca img{
	width: 90%;
	padding: 0 10px;
}

#informacion h2{
	font-size: 26px;
	font-weight: 300;
}

#informacion p{
	width:95%;
	font-size: 18px;
	font-weight: 200;
	padding:10px 0;
}

#conduce{
	background-image: url(../img/conduce.jpg);
	background-size: cover;
	background-position: center;
}

.caja-conduce{ /*transparencia*/
	background-color: rgba(0,0,0,0.5);
	color:white;
	padding: 90px 50px 180px 50px;
}

#conduce h2{
	font-size: 24px;
	font-weight: 300;
}

#conduce button{
	background-color: #f7b617;
	font-weight: 300;
	padding:7px 10px;
	border:none;
	border-radius:5px;
}

/*estilos TARIFAS*/
#tarifas{
	background-color:#f7b617;
}

#mapa{
	width: 100%;
	height:200px;
}
